HYMUI_EDITION=local
HYMUI_MODE=development
HYMUI_API_HOST=127.0.0.1
HYMUI_API_PORT=4000
HYMUI_API_URL=http://127.0.0.1:4000
HYMUI_INTERNAL_TOKEN=hymui-local-development-token
HYMUI_DATABASE_DRIVER=pglite
HYMUI_DATABASE_URL=./.hymui/data
HYMUI_STORAGE_DRIVER=filesystem
HYMUI_STORAGE_PATH=./.hymui/storage
HYMUI_WORKER_HOST=127.0.0.1
HYMUI_WORKER_PORT=4001
HYMUI_WORKER_URL=http://127.0.0.1:4001
NUXT_PUBLIC_API_BASE=http://127.0.0.1:4000
